# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lo
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/

# MAC OS files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# VS code files
.vscode
**/.vscode
*.code-workspace

# CLion
.idea
CMakelist.txt

# cache
.cache
**/.cache

# bear
compile_commands.json
**/compile_commands.json

# Miscellaneous
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Program name
webserv
